{% extends 'skeleton.html' %}
{% load static %}
{% block content %}

    <div class="row">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="p-2 bg-info-subtle breadcrumb pb-2 border-bottom">
                <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:community' %}"> {{ categoria.grupo }} </a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ categoria }} </li>
            </ol>
        </nav>

        <div class="row">
            <h1 class="display-6 pb-2"> {{ categoria }}
                <a class="btn btn-outline-dark float-end" href="{% url 'Community:criarPost' categoria.designacao %}" role="button"> Criar novo Post </a>
            </h1>
        </div>

    <hr class="my-2">


        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="table-light">
                <tr>
                    <th scope="col" colspan="4"> Tópico </th>
                    <th scope="col" colspan="2"> Autor </th>
                    <th scope="col" class="text-center"> Comentários </th>
                    <th scope="col" class="text-center"> Data </th>
                </tr>
                </thead>
                <tbody>
                {% if not lista_posts %}
                    <tr>
                        <td colspan="8" class="table-active text-center"> Ainda não foram adicionados novos posts </td>
                    </tr>
                {% else %}
                    {% for post in lista_posts %}
                        <tr>
                            <td colspan="4"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:post' categoria.designacao post.id %}">{{ post }}</a></td>
                            <td colspan="2"> {{ post.get_user }} </td>
                            <td class="text-center"> {{ post.get_total_comments }} </td>
                            <td class="text-center"> {{ post.data }} </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}