{% extends 'skeleton.html' %}
{% load static %}
{% block content %}

    <div id="page-content-wrapper">

        <h1 class="display-6 pb-2"> Categorias </h1>
        <hr class="my-2">

        <div style="background-image: url({% static 'Community/Imagens/Post_BG3.jpg' %})" class="p-2">
            <div class="container bg-white bg-opacity-75">

                {% if lista_categorias %}
                    {% for grupo in grupos_categorias %}

                        <div id="group-{{ grupo.1}}-header" class="group-header accordion fs-2 mb-3" style="width: 50%;">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <i id="arrow" class="bi bi-caret-down-fill"></i>
                                    {{ grupo.0 }}
                                </h2>
                            </div>
                        </div>

                        <div id="group-{{ grupo.1 }}-content" class="group-content row row-cols-4 mb-3">
                            {% for categoria in lista_categorias %}
                                {% if categoria.grupo == grupo.1 %}

                                    <div class="col">
                                        <a href="{% url 'Community:categoria' categoria.designacao %}" class="link-offset-2 link-underline link-underline-opacity-0">
                                            <div class="card border-dark h-100">
                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                    {{ categoria.get_total_posts }}
                                                </span>
                                                <div class="card-header">
                                                    <h5 class="card-title mb-1 mt-1"> {{ categoria.designacao }} {% if categoria.logo %}
                                                        <img id="CategoryIcon" src="{{ categoria.logo.url }}" class="card-img-top" alt="Logo">
                                                    {% else %}
                                                        <img id="CategoryIcon" src="{% static 'Community/Imagens/missing.png' %}" alt="Logo"> </h5>
                                                    {% endif %}
                                                </div>

                                                <div class="card-body">
                                                    <p class="card-text"> {{ categoria.descricao }}</p>
                                                </div>

                                                <div class="card-footer">
                                                    {% if categoria.get_last_posted %}
                                                        <small class="text-muted"> Última vez atualizado: {{ categoria.get_last_posted|date:"d M Y" }} </small>
                                                    {% else %}
                                                        <small class="text-muted"> Última vez atualizado: Nunca </small>
                                                    {% endif %}
                                                </div>

                                            </div>
                                        </a>
                                    </div>

                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                {% else %}
                    <p class="fw-bold text-center"> Ainda não foram adicionadas Categorias </p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock %}

