{% extends 'skeleton.html' %}
{% load static %}
{% block content %}

    <div id="page-content-wrapper">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="p-2 bg-info-subtle breadcrumb pb-2 border-bottom">
                <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:community' %}"> {{ categoria.grupo }} </a></li>
                <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:categoria' categoria.designacao %}"> {{ categoria }} </a></li>
                <li class="breadcrumb-item active" aria-current="page"> Criar novo Post </li>
            </ol>
        </nav>

        <div class="row">
            <h2 class="display-6 pb-2"> Criar novo Post </h2>
        </div>

        <hr class="my-2">

        <div class="container p-3">
            <form method="post">
                <div class="form-group mb-3">
                    <label for="title"> Tópico: </label>
                    <input type="text" name="title" class="form-control" id="title" required>
                </div>
                <div class="form-group mb-3">
                    <label for="message"> Mensagem: </label>
                    <textarea name="message" class="form-control" id="message" rows="10" required></textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="ImageFile" class="form-label"> Inserir imagem caso necessário </label>
                    <input class="form-control" type="file" id="ImageFile">
                </div>
                <div class="btn-group justify-content-between">
                    <button class="w-100 btn btn-outline-success btn-lg" type="submit"> Submeter </button>
                    <a class="w-100 btn btn-outline-danger btn-lg" type="button" href="{% url 'Community:categoria' categoria.designacao %}" role="button"> Cancelar </a>
                </div>

            </form>

        </div>

        <!-- ADICIONAR MODAL -->
    </div>
{% endblock %}