{% extends 'skeleton.html' %}
{% load static %}
{% block content %}

    <div id="page-content-wrapper">
        
        <div class="row">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="p-2 bg-info-subtle breadcrumb pb-2 border-bottom">
                    <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:community' %}"> {{ categoria.grupo }} </a></li>
                    <li class="breadcrumb-item"><a class="link-underline link-underline-opacity-0" href="{% url 'Community:categoria' categoria.designacao %}"> {{ categoria }} </a></li>
                    <li class="breadcrumb-item active" aria-current="page"> {{ post }} </li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col d-flex align-items-start">
                <h1 class="display-6 pb-2"> {{ post }} </h1>
            </div>

            <div class="col d-flex justify-content-end m-2">

                {% if request.user.is_superuser and request.user == post.user %}
                    <button id="DeletePost" class="btn btn-outline-danger mx-2"> Apagar Post </button>
                {% endif %}

                <button id="AnswerPost" class="btn btn-outline-dark mx-2">
                    Responder
                </button>

            </div>
        </div>

        <form method="post">
            <div class="row">
                {% if request.user.is_superuser %}
                    <div class="col align-self-end">
                        <button id="DeleteComments" type="submit" name="action" value="ApagarLista" class="btn btn-outline-warning mx-2 float-end" style="display: none;"> Apagar Comentários </button>
                    </div>
                {% endif %}
                <hr class="my-2">
            </div>

            <div class="table-responsive d-flex justify-content-center mb-3" style="background-image: url({% static 'Community/Imagens/Post_BG3.jpg' %})">
                <table class="table" style="width:1280px">
                    <tbody>
                    {% for comentario in post.comentario_set.all %}
                        <tr>
                            <td>
                                <div class="d-flex align-items-center">
                                    {% if comentario.user.is_superuser %}
                                        <img src="{% static 'Community/Imagens/Dev.png' %}" alt="Avatar" class="PostAvatar">
                                    {% elif comentario.user.professor.avatar or comentario.user.aluno.avatar %}
                                        <img src="{{ comentario.user.foto.url }}" alt="Avatar" class="PostAvatar" >
                                    {% else %}
                                        <img src="{% static 'Vitae/Images/PerfilDefault.png' %}" alt="Avatar" class="PostAvatar">
                                    {% endif %}
                                    <figure class="ms-2">
                                        <blockquote class="blockquote">
                                            {% if comentario.user.is_superuser %}
                                                <p class="lead text-primary fw-bold fs-5"> {{ comentario.user }} </p>
                                            {% elif cometario.user.is_professor %}
                                                <p class="lead text-danger fw-bold fs-5"> {{ comentario.user }} </p>
                                            {% else %}

                                                <!--  ADICIONAR CAMINHO PARA PERFIL DO UTILIZADOR  -->

                                                <a> <p class="fs-5"> {{ comentario.user }} </p> </a>
                                            {% endif %}
                                        </blockquote>

                                        {% if comentario.user.is_superuser %}
                                            <figcaption class="blockquote-footer"> Admin </figcaption>
                                        {% elif cometario.user.is_professor %}
                                            <figcaption class="blockquote-footer"> Professor </figcaption>
                                        {% endif %}

                                    </figure>

                                </div>
                            </td>
                            <td colspan="2" class="text-center">
                                {% if comentario.imagem %}
                                    <img src="{{ comentario.imagem.url }}" alt="Imagem de Post" class="rounded mx-auto d-block p-4" style="max-width: 788px; max-height: 443.25px">
                                {% endif %}
                                {{ comentario.texto }}
                            </td>
                            <td class="text-end">
                                <span> #{{ forloop.counter }} | </span>
                                <span> {{ comentario.data|date:"M j" }} </span>
                                {% if request.user.is_superuser %}
                                    <input type="checkbox" id="btn-check-{{ comentario.id }}" name="selectedPost" class="btn-check" autocomplete="off" value="{{ comentario.id }}">
                                    <label class="btn btn-outline-warning ms-4" for="btn-check-{{ comentario.id }}"> X </label>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    {% include 'Community/responderPost.html' %}
    {% include 'Community/apagarPost.html' %}

{% endblock %}