<div id="AnswerModal" class="modal-dialog">

            <div class="modal-content">
                <form method="post">
                    {% csrf_token %}

                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel"> Deixe uma resposta </h5>
                        <button type="button" id="closeModal" class="btn-close"></button>
                    </div>

                    <hr class="my-2">

                    <div class="modal-body">
                        <div class="form-group mb-3">
                            <label for="message"> Mensagem: </label>
                            <textarea name="message" class="form-control" id="message" rows="10" required></textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="ImageFile" class="form-label"> Inserir imagem caso necessário </label>
                            <input class="form-control" type="file" id="ImageFile">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="w-100 btn btn-outline-success btn-lg" type="submit"> Submeter </button>
                    </div>

                </form>

            </div>
        </div>