.header, .navbar {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: #0d28c2;  // Cor de fundo do cabeçalho
position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
}

.nav-item {
    padding: 8px 12px; /* Ajuste conforme necessário para centralizar verticalmente */
}

.bar{
    margin-top: 0;
    margin-bottom: 0;
}


.nav-link {
    padding: 8px 12px;
}

.nav-link {
    padding: 8px 12px;
}


.btn-primary {
    padding: 8px 12px;
}


.custom-buttonn {
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho do texto */
    color: white; /* Cor do texto */
    background-image: linear-gradient(to right, #4b6cb7, #182848); /* Gradiente de fundo */
    border: none; /* Sem borda */
    border-radius: 20px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor do mouse como ponteiro */
    outline: none; /* Remover contorno ao focar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: all 0.3s; /* Transição suave para efeitos de hover */
}

.custom-buttonn:hover {
    background-image: linear-gradient(to right, #6b8dbb, #2a3a68); /* Gradiente mais claro ao passar o mouse */
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2); /* Sombra maior */
}


/* dropdown */
.dropdown-menu {
    min-width: 200px;
}

.dropdown-item {
    color: #333;
    text-align: center;
}

.navbar {
    z-index: 1020;
}

.navbar-center-right {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navbar-center-right .dropdown {
    margin-left: auto;
}

form.form-inline {
    position: relative;
}

form.form-inline input[type="search"] {
    padding-right: 30px; /* Espaço para o ícone da lupa */
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
}

.search-box .form-control {
    padding-right: 40px; /* Espaço para o botão da lupa */
}

.search-box .search-btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    color: #333;
    outline: none;
    padding: 0 12px;
}

/* Ajustes para o ícone para garantir que esteja no centro verticalmente */
.search-box .search-btn .fa {
    line-height: 38px; /* Altura da linha igual à altura do campo de entrada */
}

form.form-inline button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    color: #333;
}

form.form-inline button {
    background: none;
    border: none;
}

form.form-inline button:hover {
    background: none;
    border: none;
}

.search-input {
    width: 180px; /* Reduz a largura do campo de pesquisa */
}

/* Estiliza o dropdown para adicionar margem à esquerda */
.navbar .dropdown {
    margin-left: 20px; /* Espaço entre o campo de pesquisa e o dropdown */
}

/* Botão de pesquisa sem borda e fundo */
.navbar .btn-outline-success {
    border: none;
    background: transparent;
    color: #FFF; /* Ajuste a cor conforme necessário */
}




/* Parte de sidebar lateral */

/* Estilo básico da sidebar */
.sidebar {
    width: 60px; /* Largura inicial */
    min-height: 100vh; /* Garante que a sidebar se estenda pela altura total da viewport */
    background-color: #343a40; /* Cor de fundo escura */
    position: fixed; /* Fixa a sidebar na viewport */
    top: 50px; /* Inicia no topo da viewport */
    overflow-x: hidden; /* Esconde o conteúdo horizontal extra */
    overflow-y: auto; /* Permite scroll na sidebar se necessário */
    transition: width 0.5s; /* Suaviza a transição da largura */
    z-index: 1000; /* Garante que a sidebar fique sobre outros conteúdos */
}

/* Expandir a sidebar ao passar o mouse */
.sidebar:hover {
    width: 250px; /* Largura expandida */
}

/* Estilo para os links dentro da sidebar */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px 10px; /* Ajuste para menor padding à direita */
}

/* Estilo para ícones e textos dentro da sidebar */
.sidebar ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebar ul li a i {
    margin-right: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1.2em; /* Tamanho fixo dos ícones */
    min-width: 30px; /* Largura mínima para ícones, garante alinhamento */
    text-align: center; /* Centraliza o ícone */

}

/* Mostrar textos somente quando expandido */
.sidebar:hover ul li a span {
    display: inline;
}

/* Ajuste para ícones ficarem alinhados à esquerda na versão colapsada */
.sidebar ul li a i {
    text-align: left; /* Alinha ícones à esquerda */
    width: auto; /* Remove largura total para evitar centralização */
}

.sidebar ul li a span {
    display: none; /* Esconde o texto */
    width: 0; /* Reduz a largura do texto para zero */
    overflow: hidden; /* Evita qualquer sobreposição de texto */
    transition: width 0.3s ease; /* Suaviza a transição de largura */
}

/* Estilo para mostrar o texto quando a sidebar está expandida */
.sidebar:hover ul li a span {
    display: inline; /* Mostra o texto */
    width: auto; /* Permite que o texto assuma a largura necessária */
}

/* Estilo para submenus */
.submenu ul {
    display: none; /* Esconde submenus */
}

.submenu:hover ul {
    display: block; /* Mostra submenus no hover */
}



.main-content {
    margin-top: 50px;  /* Ajuste esse valor para corresponder à altura do seu cabeçalho */
    padding: 20px;  /* Ajuste conforme necessário para o padding interno */
    margin-left: 20px;
}

.main {
    margin-left: 60px;
    padding: 20px; /* Espaço interno */
    background-color: #757474; /* Fundo branco para o conteúdo principal */
}

#page-content-wrapper {
    margin-left: 60px;
    padding: 20px;
}

/* Garante que a área do conteúdo não fique escondida sob o cabeçalho */
body {
    padding-top: 50px;  /* Isso deve ser igual ou um pouco maior que a altura do cabeçalho */

}

/****************** Vitae CSS ******************/

.fotoCoordenador {
    width: 226px;
    height: 228px;
}

fieldset {
    background-color: #eeeeee;
    margin-bottom: 24px;
}

legend {
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

.table-sm {
    max-width: 700px;
}

/****************** Community CSS ******************/

#CategoryIcon {
    width: 16px;
    height: 16px;
}

img.PostAvatar {
    width: 70px;
    height: 70px;
}

/************** Para modal dos Posts **************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**************************************************/

.footer {
    /*    position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
}

input {
    margin: 5px;
}

.page-up {
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -25px;
}

.page-up a {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background: #3495dc;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.page-up a span {
    position: relative;
    top: 2px;
    left: -1px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* CSS para o container do carrossel */
#carouselExampleIndicators {
    width: 40%; /* Define a largura para 60% da largura do container pai */
    margin: auto; /* Centraliza o carrossel horizontalmente */
    height: 300px; /* Altura fixa para o carrossel */
    overflow: hidden; /* Esconde qualquer conteúdo que exceda os limites do carrossel */
}

/* Ajusta as imagens dentro dos itens do carrossel */
#carouselExampleIndicators .carousel-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do item do carrossel */
    height: 300px; /* Altura fixa, a mesma que a do carrossel */
    object-fit: cover; /* As imagens cobrirão o espaço disponível, sendo cortadas se necessário */
}

/* Responsividade: Carrossel ocupa 100% da largura em dispositivos menores */
@media (max-width: 768px) {
    #carouselExampleIndicators {
        width: 100%; /* Ocupa 100% da largura em dispositivos menores */
    }
}
