{% extends "skeleton.html" %}
{% load static %}

{% block title %}
    Página de Perfil
{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if user.is_authenticated %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    {% if user.aluno and user.aluno.foto %}
                        <img src="{{ user.aluno.foto.url }}" alt="Foto do aluno" class="img-fluid img-thumbnail">
                    {% elif user.professor and user.professor.foto %}
                        <img src="{{ user.professor.foto.url }}" alt="Foto do professor" class="img-fluid img-thumbnail">
                    {% else %}
                        <img src="{% static 'Vitae/Images/PerfilDefault.png' %}" alt="Imagem padrão" class="img-fluid img-thumbnail">
                    {% endif %}
                </div>
                <form method="post" enctype="multipart/form-data" action="{% url 'Vitae:fazer_upload' %}">
                    {% csrf_token %}
                    <input type="file" name="myfile" class="form-control mt-3">
                    <button type="submit" class="btn btn-info mt-2">Upload Foto</button>
                </form>
            </div>
            <div class="col-md-8">
                <div class="profile-details">
                    <h2>Informações do {{ user.get_full_name }}</h2>
                    <div class="mb-3"><strong>Username:</strong> {{ user.username }}</div>
                    <div class="mb-3"><strong>Email:</strong> {{ user.email }}</div>
                    {% if user.professor %}
                        <div class="mb-3"><strong>Gênero:</strong> {{ user.professor.genero.get_label_display }}</div>
                        <div class="mb-3"><strong>Número:</strong> {{ user.professor.numeroProfessor }}</div>
                        <div class="mb-3"><strong>Gabinete:</strong> {{ user.professor.gabinete }}</div>
                        <div class="mb-4">
                            <strong>Unidades Curriculares:</strong>
                            <ul>
                                {% for uc in user.professor.uc_set.all %}
                                    <li>{{ uc.designacao }} ({{ uc.acronimo }})</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Form for professors to assign skills to students -->
                    {% elif user.aluno %}
                        <div class="mb-3"><strong>Gênero:</strong> {{ user.aluno.genero.get_label_display }}</div>
                        <div class="mb-3"><strong>Curso:</strong> {{ user.aluno.curso.designacao }}</div>
                        <div class="mb-3"><strong>Skills:</strong>
                            <ul>
                                {% for skill in user.aluno.skills %}
                                    <li>{{ skill.skill.designacao }} - Level: {{ skill.nivel }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="mb-4">
                            <strong>Unidades Curriculares e Notas:</strong>
                            <ul>
                                {% for uc in user.aluno.curso.uc_set.all %}
                                    <li>{{ uc.designacao }} ({{ uc.acronimo }}) - Nota: {{ notas|get_digit:uc.acronimo|default:"Não Avaliado" }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <button type="button" class="btn btn-primary">Editar Perfil</button>
                </div>
            </div>
        </div>
    {% else %}
        <a href="{% url 'login' %}" class="alert alert-warning">Faça Login!</a>
    {% endif %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function loadUCs(courseCode, courseElement) {
        fetch(`/api/curso/${courseCode}/ucs/`)
            .then(response => response.json())
            .then(ucs => {
                const submenu = courseElement.nextElementSibling;
                submenu.innerHTML = '';
                ucs.forEach(uc => {
                    const li = document.createElement('li');
                    const a = document.createElement('a');
                    a.href = `/detalhes_uc/${uc.acronimo}`;
                    a.classList.add('dropdown-item');
                    a.textContent = uc.designacao;
                    li.appendChild(a);
                    submenu.appendChild(li);
                });
            })
            .catch(error => console.error('Error loading UCs:', error));
    }
</script>
{% endblock %}
