{% extends 'skeleton.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'Vitae/CSS/stylevitae.css' %}">

{% block title %}Perfil do Aluno{% endblock %}


<div id="page-content-wrapper">
    {% block content %}
        {% if aluno.aluno %}
            <section style="background-color: #eee;">
                <div class="container py-5">
                    <!-- Breadcrumb -->
                    <div class="row">
                        <div class="col">
                            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                <ol class="breadcrumb mb-0">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Alunos</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{ aluno.get_full_name }}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body text-center">
                                    <img src="{% if aluno.aluno.foto %}{{ aluno.aluno.foto.url }}{% else %}{% static 'FenixMenos/Imagens/th.jpg' %}{% endif %}" alt="Foto do Aluno" class="rounded-circle img-fluid" style="width: 150px;">
                                    <h5 class="my-3">{{ aluno.get_full_name }}</h5>
                                    <p class="text-muted mb-1">{{ aluno.aluno.curso.nome }}</p>
                                    <p class="text-muted mb-4">{{ aluno.aluno.endereco }}</p>
                                    <div class="d-flex justify-content-center mb-2">
                                        <button type="button" class="btn btn-primary">Seguir</button>
                                        <button type="button" class="btn btn-outline-primary ms-1">Mensagem</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Nome Completo</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ aluno.get_full_name }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ aluno.email }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">a
                                            <p class="mb-0">Telefone</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ aluno.aluno.telefone }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Endereço</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ aluno.aluno.endereco }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Breadcrumb -->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-body p-0">
                                    <ul class="list-group list-group-flush rounded-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fas fa-globe fa-lg text-warning"></i>
                                            <p class="mb-0">https://mdbootstrap.com</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-github fa-lg text-body"></i>
                                            <p class="mb-0">mdbootstrap</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                            <p class="mb-0">@mdbootstrap</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                            <p class="mb-0">mdbootstrap</p>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                            <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                            <p class="mb-0">mdbootstrap</p>
                                        </li>
                                        <!-- Additional social media links -->
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-8">
                            <div class="row">
                                <!-- Primeira sub-coluna dentro de col-lg-8 -->
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title">Hard Skills</h5>
                                            <br>
                                            <div class="progress-container">
                                                {% for skill_aluno in uc_skills_aluno %}
                                                    {% if skill_aluno.uc_skills_id.skills_id.tipo == TipoSkills.Hard.value %}
                                                        <div class="row align-items-center mb-4">
                                                            <div class="col-sm-5">
                                                                <p class="mb-0">{{ skill_aluno.uc_skills.skills.designacao }}</p>
                                                            </div>
                                                            <progress class="progress-bar1" value="{{ skill_aluno.progresso }}" max="100" style="width: 50%;"></progress>
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Segunda sub-coluna dentro de col-lg-8 -->
                                <div class="col-lg-6">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <h5 class="card-title">Soft Skills</h5>
                                            <!-- Conteúdo -->
                                            <p class="mb-0">Endereço: {{ aluno.aluno.endereco }}</p>
                                            <!-- Outros detalhes podem ser adicionados aqui -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        {% else %}
            <div class="container py-5">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        </div>
    {% endblock %}