{% extends "skeleton.html" %}
{% load static %}

{% block content %}
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="user-data card mb-4">
                    <div class="card-body">
                        <h2 class="card-title">Detalhes do Usuário</h2>
                        <!-- Botão de Editar -->
                        <button id="editBtn" class="btn btn-primary">Editar</button>
                        <button id="saveBtn" class="btn btn-success" style="display:none;">Salvar</button>
                        <hr>
                        <form id="profileForm" style="display:none;" method="post" action="{% url 'Vitae:salvar_perfil' %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="firstName" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="firstName" name="first_name" value="{{ request.user.first_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Sobrenome</label>
                                <input type="text" class="form-control" id="lastName" name="last_name" value="{{ request.user.last_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{ request.user.email }}">
                            </div>
                            <!-- Campos adicionais podem ser incluídos aqui -->
                        </form>
                        <div id="profileDetails">
                            <p><strong>Nome:</strong> <span id="fullName">{{ request.user.first_name }} {{ request.user.last_name }}</span></p>
                            <p><strong>Email:</strong> <span id="emailText">{{ request.user.email }}</span></p>
                            <!-- Detalhes adicionais podem ser incluídos aqui -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
document.getElementById('editBtn').addEventListener('click', function() {
    document.getElementById('profileForm').style.display = 'block';
    document.getElementById('profileDetails').style.display = 'none';
    document.getElementById('editBtn').style.display = 'none';
    document.getElementById('saveBtn').style.display = 'inline-block';
});

document.getElementById('saveBtn').addEventListener('click', function() {
    document.getElementById('profileForm').submit();
});
</script>
{% endblock %}
