{% extends "skeleton.html" %}
{% load static %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="user-data">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Username</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{ request.user.username }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-7">
                                        <p class="text-muted mb-0">{{ request.user.email }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p class="mb-0">Nome</p>
                                    </div>
                                    <div class="col-sm-7">
                                        {% if request.user.first_name or request.user.last_name %}
                                            <p class="text-muted mb-0">
                                                {% if request.user.first_name %}
                                                    {{ request.user.first_name }}
                                                {% else %}
                                                    "Nome Padrão"
                                                {% endif %}
                                                {% if request.user.last_name %}
                                                    {{ request.user.last_name }}
                                                {% else %}
                                                    "Sobrenome Padrão"
                                                {% endif %}
                                            </p>
                                        {% else %}
                                            <p class="text-muted mb-0">Nome Padrão Sobrenome Padrão</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr>
                                {% if request.user.professor %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mb-0">Gabinete</p>
                                        </div>
                                        <div class="col-sm-7">
                                            {% if request.user.professor.gabinete %}
                                                <p class="text-muted mb-0">{{ request.user.professor.gabinete }}</p>
                                            {% else %}
                                                <p class="text-muted mb-0">PorDefenir</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mb-0">Número de Professor</p>
                                        </div>
                                        <div class="col-sm-7">
                                            {% if request.user.professor.numeroProfessor %}
                                                <p class="text-muted mb-0">{{ request.user.professor.numeroProfessor }}</p>
                                            {% else %}
                                                <p class="text-muted mb-0">N/A</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a href="{% url 'Vitae:editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
                                    </div>
                                {% elif request.user.aluno %}
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mb-0">Curso</p>
                                        </div>
                                        <div class="col-sm-7">
                                            {% if request.user.aluno.curso.designacao %}
                                                <p class="text-muted mb-0">{{ request.user.aluno.curso.designacao }}</p>
                                            {% else %}
                                                <p class="text-muted mb-0">N/A</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p class="mb-0">Número de Aluno</p>
                                        </div>
                                        <div class="col-sm-7">
                                            {% if request.user.aluno.numeroAluno %}
                                                <p class="text-muted mb-0">{{ request.user.aluno.numeroAluno }}</p>
                                            {% else %}
                                                <p class="text-muted mb-0">N/A</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="user-data">
                                        <div class="card mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">Telefone</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.telefone %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.telefone }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">00000000</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">Morada</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.morada %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.morada }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">N/A</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">Instagram</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.instagram %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.instagram }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">N/A</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">GitHub</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.github %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.github }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">N/A</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">Facebook</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.facebook %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.facebook }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">N/A</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <p class="mb-0">Data de Nascimento</p>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        {% if request.user.aluno.data_de_nascimento %}
                                                            <p class="text-muted mb-0">{{ request.user.aluno.data_de_nascimento|date:"d/m/Y" }}</p>
                                                        {% else %}
                                                            <p class="text-muted mb-0">00/00/0000</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <a href="{% url 'Vitae:editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
                                            <a href="{% url 'Vitae:certficacaoprojecto' %}" class="btn btn-secondary">Certificações e Projetos</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 text-center">
                    <fieldset>
                        <legend>Perfil</legend>
                        <figure class="figure d-inline-block mx-auto">
                            {% if request.user.professor and request.user.professor.foto %}
                                <img src="{{ request.user.professor.foto.url }}" class="fotoPerfil figure-img rounded img-thumbnail" alt="Foto de perfil do professor">
                            {% elif request.user.aluno and request.user.aluno.foto %}
                                <img src="{{ request.user.aluno.foto.url }}" class="fotoPerfil figure-img rounded img-thumbnail" alt="Foto de perfil do aluno">
                            {% else %}
                                <img src="{% static 'FenixMenos/Imagens/th.jpg' %}?{{ now }}" class="fotoPerfil rounded figure-img img-thumbnail" alt="Foto de perfil">
                            {% endif %}
                        </figure>
                        <form method="post" enctype="multipart/form-data" action="{% url 'Vitae:fazer_upload' %}">
                            {% csrf_token %}
                            <input type="file" name="myfile" class="mt-2">
                            <input class="btn btn-info" role="button" type="submit" value="Upload">
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

