{% extends "skeleton.html" %}
{% load static %}
{% block title %} Recomendar Aluno {% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <h2 class="display-6 pb-2"> Recomendar Estudante {{ aluno.numeroAluno }} - {{ aluno.user.get_full_name }} </h2>
            <hr class="my-2">

            <div class="container p-3">
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                        <label for="floatingTextarea2"> Recomendação Descritiva </label>
                        <textarea id="floatingTextarea2" class="form-control" name="recomendacao" rows="10" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <button class="w-25 btn btn-outline-success btn-lg" type="submit"> Recomendar </button>
                        <a href="{% url 'Vitae:cv' aluno.user.username %}" class="w-25 btn btn-outline-dark btn-lg"> Cancelar </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}