{% extends "skeleton.html" %}
{% load static %}
{% block title %} Recomendar Aluno {% endblock %}

{% block content %}
    <div id="page-content-wrapper">
        <div class="container-fluid">

            <h2 class="display-6 pb-2"> Recomendar Aluno </h2>
            <hr class="my-2">

            <div class="container p-3">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3">
                        
                    </div>
                    <div class="form-group mb-3">

                    </div>
                    
                    <button class="w-100 btn btn-outline-success btn-lg" type="submit"> Recomendar </button>
                </form>

            </div>
        </div>
{% endblock %}