{% extends 'skeleton.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISCTE FENIX-</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
{% block content %}
    <main>
        <div id="page-content-wrapper">
            {% if not user.is_authenticated %}
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'FenixMenos/Imagens/Iscte-3.jpg' %}" class="d-block w-100" alt="Iscte-3">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="welcome-text">Bem Vindo ao FenixMenos</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'FenixMenos/Imagens/Iscte-2.jpg' %}" class="d-block w-100" alt="Iscte-2">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="welcome-text">Bem Vindo ao FenixMenos</h2>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'FenixMenos/Imagens/Iscte.jpg' %}" class="d-block w-100" alt="Iscte">
                            <div class="carousel-caption d-none d-md-block">
                                <h2 class="welcome-text">Bem Vindo ao FenixMenos</h2>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            {% else %}
                <div class="container-fluid">
                    <div class="row">
                        <!-- News Section -->
                        <div class="col-lg-8">
                            <h2>News</h2>
                            <div class="row">
                                <!-- First row of News Items -->
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/phaseOfApplicationNews.jpg' %}" class="card-img-top" alt="1st phase of application" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">1st phase of application - Academic Year 2024/2025</h5>
                                            <a href="https://www.iscte-iul.pt/news/2367/1st-phase-of-application-academic-year-20242025" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/imCitiesConsortiumNews.jpg' %}" class="card-img-top" alt="Iscte leads European InCITIES Consortium" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">Iscte leads European InCITIES Consortium</h5>
                                            <a href="https://www.iscte-iul.pt/news/2044/iscte-leads-european-incities-consortium" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/ukranianStudentsNews.jpg' %}" class="card-img-top" alt="Information for Ukrainian students" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">Information for Ukrainian students</h5>
                                            <a href="https://www.iscte-iul.pt/news/1982/information-ukranian-students" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Second row of News Items -->
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/ReserchConnectPlatformNews.jpg' %}" class="card-img-top" alt="Iscte subscribes the Research Connect platform" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">Iscte subscribes the Research Connect platform</h5>
                                            <a href="https://www.iscte-iul.pt/news/2103/iscte-subscribes-the-research-connect-pla" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/internationalStudentsNews.jpg' %}" class="card-img-top" alt="Iscte welcomes 350 international students" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">Iscte welcomes 350 international students</h5>
                                            <a href="https://www.iscte-iul.pt/news/2060/iscte-welcomes-350-international-students" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="card">
                                        <img src="{% static '/FenixMenos/Imagens/News/creatingNewResidencesNews.jpg' %}" class="card-img-top" alt="Iscte on the vanguard in creating new residences" width="350" height="250">
                                        <div class="card-body">
                                            <h5 class="card-title">Iscte on the vanguard in creating new residences</h5>
                                            <a href="https://www.iscte-iul.pt/news/1582/iscte-on-the-vanguard-in-creating-new-residences" class="btn btn-primary">Leia Mais</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar for Community Posts and Top Students -->
                        <div class="col-lg-4 fixed-right">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">Ultimos Posts da Comunidade?</h5>
                                    <ul class="list-unstyled">
                                        <li>Judy Nguyen - Jornalista</li>
                                        <li>Amanda Reed - Desenvolvedora Web</li>
                                        <li>Billy Vasquez - Jornalista</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <h5 class="card-title">Top Alunos</h5>
                                    <p>Ten questions you should answer truthfully</p>
                                    <p>Five unbelievable facts about money</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock %}
</body>
</html>



<!-- Adicionar os 3 mais recentes posts do forum aqui -->
<!--

    </form>

    <form>

    <fieldset>
        Top Alunos
    </fieldset>
 -->

<!-- Mostrar os top 10 alunos por exemplo -->
<!--

    </form>
 -->
